/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
/* COLORS */
*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.icon-color, .icon-nav {
  color: white;
}

.icon-color {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.icon-color:hover, .icon-color :active {
  padding-bottom: 5px;
  border-bottom: 4px solid white;
}

.color-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 80px;
  border: 2px solid black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-family: "Alata", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover, .btn :active {
  color: white;
  background-color: black;
  border: none;
}

.main-header {
  background-image: url(../../images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  width: 750px;
  height: 1300px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .main-header {
    background-image: url(../../images/desktop/image-hero.jpg);
    width: 1440px;
    height: 650px;
    background-size: 100%;
    /*  object-fit: cover;
        background-size: center; */
  }
}

@media screen and (min-width: 1440px) {
  .main-header {
    width: 100%;
    height: 650px;
    background-size: 100%;
  }
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 350px;
  /* position: relative; */
}

.main-header .box {
  z-index: 1;
  /* margin-top: 50px; */
  padding: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 2px solid white;
  width: 90%;
  font-family: "Josefin Sans", sans-serif;
}

.main-header .box h1 {
  font-size: 90px;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
}

.main-header .item-nav {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-header .item-nav:hover {
  /* margin-bottom: 5px; */
  border-bottom: 4px solid white;
}

@media screen and (min-width: 768px) {
  .main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    position: relative;
  }
  .main-header .box {
    position: absolute;
    top: 180px;
    left: 270px;
    width: 50%;
  }
  .main-header .box h1 {
    font-size: 70px;
  }
}

nav {
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-top: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav img {
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 768px) {
  nav img {
    width: 30%;
  }
}

nav #menu {
  -ms-grid-column-align: right;
      justify-self: right;
  margin-right: 40px;
}

nav .nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  nav #menu {
    display: none;
  }
  nav .nav-list {
    -ms-flex-item-align: center;
        align-self: center;
    font-family: "Alata", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
  nav .nav-list a {
    text-decoration: none;
    color: white;
  }
}

.mobile-nav {
  /* display: none; */
  display: block;
  background-image: none;
  background-color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mobile-nav .box {
  display: none;
}

.mobile-nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  margin-top: 300px;
}

.mobile-nav .item-nav {
  color: white;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  /* transition: 0.3s; */
}

.mobile-nav .color-overlay {
  display: none;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (auto)[5];
      grid-template-rows: repeat(5, auto);
}

.one {
  margin: 150px 0px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 80px;
}

.one .interactive-img {
  background: url(../../images/mobile/image-interactive.jpg) no-repeat;
  width: 731px;
  height: 500px;
  background-size: cover;
}

.one .one-text {
  background: white;
  font-family: "Alata", sans-serif;
  position: relative;
  width: 90%;
  text-align: center;
}

.one .one-text h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 60px;
  text-transform: uppercase;
}

.one .one-text p {
  color: #8c8c8c;
  font-size: 30px;
  width: 530px;
  margin: 0 auto;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .one {
    -ms-grid-columns: (110px)[6];
        grid-template-columns: repeat(6, 110px);
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    gap: 0;
    margin: 150px 0 0 0px;
    /* .one-text, .interactive-img {
            grid-row: 2 / 3;
        } */
  }
  .one .interactive-img {
    background: url(../../images/desktop/image-interactive.jpg);
    width: 654px;
    height: 448px;
  }
  .one .one-text {
    grid-column: 4 / -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 140px;
    margin-top: 200px;
    width: 600px;
    height: 448px;
    padding: 30px;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .one .one-text h1 {
    font-size: 50px;
  }
  .one .one-text p {
    font-size: 18px;
    width: 525px;
    text-align: left;
  }
}

.two {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  gap: 50px;
  /* position: relative; */
}

.two h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .two {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: (260px)[4];
        grid-template-columns: repeat(4, 260px);
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    gap: 30px;
  }
  .two h1 {
    font-size: 35px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .two .btn {
    width: 150px;
    height: 40px;
    font-size: 15px;
    letter-spacing: 5px;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
    -ms-flex-item-align: right;
        -ms-grid-row-align: right;
        align-self: right;
  }
}

.card {
  position: relative;
  color: #8c8c8c;
}

.card .color-overlay {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card h1 {
  position: relative;
  top: 100px;
  left: 30px;
  color: white;
  width: 270px;
  z-index: 1;
}

.card:hover .color-overlay, .card :active .color-overlay {
  background-color: white;
  opacity: 0.7;
}

.card:hover h1, .card :active h1 {
  color: black;
}

@media screen and (min-width: 768px) {
  .card {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .card h1 {
    top: 350px;
    width: 100px;
  }
}

.deep-earth {
  background-image: url(../../images/mobile/image-deep-earth.jpg);
  background-repeat: no-repeat;
  width: 654px;
  height: 240px;
}

@media screen and (min-width: 768px) {
  .deep-earth {
    background: url(../../images/desktop/image-deep-earth.jpg) no-repeat;
    width: 256px;
    height: 450px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.night-arcade {
  background-image: url(../../images/mobile/image-night-arcade.jpg);
  background-repeat: no-repeat;
  width: 654px;
  height: 240px;
}

@media screen and (min-width: 768px) {
  .night-arcade {
    background: url(../../images/desktop/image-night-arcade.jpg) no-repeat;
    width: 256px;
    height: 450px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

.soccer-team-vr {
  background-image: url(../../images/mobile/image-soccer-team.jpg);
  background-repeat: no-repeat;
  width: 654px;
  height: 240px;
}

@media screen and (min-width: 768px) {
  .soccer-team-vr {
    background: url(../../images/desktop/image-soccer-team.jpg) no-repeat;
    width: 256px;
    height: 450px;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
  .soccer-team-vr h1 {
    width: 200px;
  }
}

.the-grid {
  background-image: url(../../images/mobile/image-grid.jpg);
  background-repeat: no-repeat;
  width: 654px;
  height: 240px;
}

@media screen and (min-width: 768px) {
  .the-grid {
    background: url(../../images/desktop/image-grid.jpg) no-repeat;
    width: 256px;
    height: 450px;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
  }
}

.from-up-above-vr {
  background-image: url(../../images/mobile/image-from-above.jpg);
  background-repeat: no-repeat;
  width: 654px;
  height: 240px;
}

.from-up-above-vr h1 {
  width: 400px;
}

@media screen and (min-width: 768px) {
  .from-up-above-vr {
    background: url(../../images/desktop/image-from-above.jpg) no-repeat;
    width: 256px;
    height: 450px;
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .from-up-above-vr h1 {
    width: 200px;
  }
}

.pocket-borealis {
  background-image: url(../../images/mobile/image-pocket-borealis.jpg);
  background-repeat: no-repeat;
  width: 654px;
  height: 240px;
}

@media screen and (min-width: 768px) {
  .pocket-borealis {
    background: url(../../images/desktop/image-pocket-borealis.jpg) no-repeat;
    width: 256px;
    height: 450px;
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

.the-curiosity {
  background-image: url(../../images/mobile/image-curiosity.jpg);
  background-repeat: no-repeat;
  width: 654px;
  height: 240px;
}

@media screen and (min-width: 768px) {
  .the-curiosity {
    background: url(../../images/desktop/image-curiosity.jpg) no-repeat;
    width: 256px;
    height: 450px;
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
}

.make-it-fisheye {
  background-image: url(../../images/mobile/image-fisheye.jpg);
  background-repeat: no-repeat;
  width: 654px;
  height: 240px;
}

@media screen and (min-width: 768px) {
  .make-it-fisheye {
    background: url(../../images/desktop/image-fisheye.jpg) no-repeat;
    width: 256px;
    height: 450px;
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
  }
  .make-it-fisheye h1 {
    width: 250px;
  }
}

footer {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 80px 0;
  gap: 40px;
  margin-top: 100px;
  background-color: black;
  color: white;
  font-family: "Alata", sans-serif;
}

footer img {
  width: 55%;
}

footer .footer-list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

footer .item-list {
  color: white;
  text-decoration: none;
  font-size: 32px;
  /* font-weight: 400; */
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .item-list:hover, footer .item-list :active {
  margin-bottom: 5px;
  border-bottom: 4px solid white;
}

footer .social-media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

footer .social-media-icons a {
  font-size: 40px;
}

footer .copyright {
  font-size: 30px;
  color: #8c8c8c;
}

@media screen and (min-width: 768px) {
  footer {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding: 40px 0;
    gap: 10px;
  }
  footer img {
    width: 20%;
    -ms-grid-column-align: left;
        justify-self: left;
    margin-left: 130px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  footer .footer-list {
    -ms-grid-row: 2;
    grid-row: 2;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-grid-column-align: left;
        justify-self: left;
    margin-left: 130px;
  }
  footer .item-list {
    font-size: 20px;
  }
  footer .social-media-icons {
    -ms-grid-column-align: right;
        justify-self: right;
    margin-right: 130px;
    /* .icon-color {
                
            } */
  }
  footer .social-media-icons a {
    font-size: 32px;
  }
  footer .copyright {
    -ms-grid-column-align: right;
        justify-self: right;
    margin-right: 130px;
  }
  footer .copyright p {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */